<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:th="http:thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>Inicio</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
<form action="/" class="form-signin" method="POST">
		<div align="center">
		<div class="container">
		<h2 class="form-signin-heading">Entre com seu usuario</h2>
		<p>
		<label for="username" class="sr_only">Usuario</label>
		<input type="text" id="username" name="username" class="form-control"
		placeholder="Usuario" required autofocus>
		</p>
		
		<p>
		<label for="password" class="sr_only">Password</label>
		<input type="password" id="password" name="senha" class="form-control"
		placeholder="Senha" required>
		</p>
		<a class="btn btn-lg btn-primary btn-block" type="submit" href="/inicio">Entrar</a>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
	</div>
	</div>
		</form>
</body>

</html>